body{
margin:0;
font-family:Montserrat;
background:#efe6dc;
}

.page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:30px;
border-radius:20px;
width:340px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.couple{
font-family:"Alex Brush";
font-size:42px;
}
