body{
margin:0;
font-family:serif;
color:#5a3c3c;
}

.page{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.bg1{background-image:url("assets/bg1.png");}
.bg2{background-image:url("assets/bg2.png");}
.bg3{background-image:url("assets/bg3.png");}
.bg4{background-image:url("assets/bg4.png");}
.bg5{background-image:url("assets/bg5.png");}
.bg6{background-image:url("assets/bg6.png");}
.bg7{background-image:url("assets/bg7.png");}


.content{
background:rgba(255,255,255,0.6);
padding:40px;
border-radius:15px;
max-width:500px;
text-align:center;
}

.center{
text-align:center;
}

h1{
font-size:40px;
margin:10px 0;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#7b4a5a;
color:white;
border-radius:25px;
text-decoration:none;
}

#countdown{
display:flex;
gap:20px;
justify-content:center;
}

#countdown span{
font-size:30px;
font-weight:bold;
}

button{
padding:10px 20px;
background:#7b4a5a;
color:white;
border:none;
border-radius:20px;
cursor:pointer;
}
